/* Google Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Manrope:wght@300;400&display=swap");

/* utilities styles */
body {
  font-family: "Manrope", sans-serif;
}
.header-title {
  font-family: "Berkshire Swash", cursive;
  font-weight: 400;
  font-size: 76px;
}
